<div class="container-fluid">
    <h1>Digita Book</h1><br>
    <p>

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, vero! Sapiente, dolorum eius ut voluptates vitae aut voluptate ullam voluptatibus debitis saepe, error quam, inventore fugiat totam minima odit repellat.
    </p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum repudiandae laborum odit nisi ea debitis iure dolorum, esse ex vitae delectus blanditiis minus enim libero! Eaque facilis nam natus libero!</p>


  </div>
  <div class="container">
    <div class="row">
      <div class="col-md">
       
        <img src="assets/Pathsala.png" alt="" >
      </div>
      <div class="col-md">
        <img src="assets/Pathsala.png" alt="" >
      </div>
      <div class="col-md">
        <img src="assets/Pathsala.png" alt="" >
      </div>
      <div class="col-md">
        <img src="assets/Pathsala.png" alt="" >
      </div>
    </div>
  </div>
  <app-foot></app-foot>