
.container-fluid{
  background-color: #232946;
}
input, textarea{
  color:white;
  width: 50%;
}
a{
  color:white;
}
button{
  margin: 5px;
}
.card{
  background-color: aqua;
}
.col-lg{
  margin-left: 30%;
  max-width: 50%;
}
button{
  background-color: #323a62;
  color: white;
}
button:hover{
  background-color: rgb(29, 90, 148);
  color: white;
}
.card-container.card {
  max-width: 200px;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(44, 19, 19, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(53, 49, 49, 0.3);
}