<div class="container-fluid">
    <div class="row">
        <div class="col-lg mt-5">
           
            <div class="card">

                <h2>Signup as a <span>Author</span></h2>
                
                <div class="row mb-4">
                  <mat-form-field class="field" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input name="name"  matInput>
                  </mat-form-field></div>

                <div class="row mb-4">
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input name="email"  matInput>
                </mat-form-field></div>
              
                <div class="row mb-4">
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" name="name"  matInput>
                </mat-form-field></div>
            
                <button type="button" class="btn  mb-4">Signup</button>

            </div>
                
              
             
                
            
        </div>
    </div>
     
    </div>
